/*
--color-text-title: #2E4A81
--background-beige: #B6AA8A
--background-yellow: #CC9143
--backgroung-green: #20363C
--color-text:#ffffff
--color-text:#0C0C0C

*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --background-white:#ffffff;
    --color-text-title: #2E4A81;
    --background-beige: #B6AA8A;
    --background-yellow: #CC9143;
    --backgroung-green: #20363C;
    --color-text:#ffffff;
    --color-text:#0C0C0C;
    
}

body {
    font-family:"Roboto", sans-serif;
}

body main {
    padding: 0;
}

#background-popup{
    background-image: url(../images/background/background-flower.jpg);
    background-size: cover;
    height: 100vh;
    margin: 0;
    position: fixed;
    width: 100vw;
}

.hidden {
    display: none;
}

.visibility {
    display: visible;
}

#container-popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding-top: 2rem;
}

#container-popup h1 {
    color:var(--color-text-title);
    font-size: 4rem;
    font-weight:100;
    font-style: italic;
    padding-bottom: 6rem;
}

#container-popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding-top: 2rem;
}


#container-popup input {
    width: 15rem;
    height: 2rem;
    border-radius: 5%;;
}

input[type="text"] {
    font-size: 0.8rem;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: transparent;
}

/* Style pour les placeholders */
::placeholder {
    color: #aaa;
    font-style: italic;
}

#container-popup button {
    background-color: var(--background-yellow);
    border: 1px solid var(--background-yellow);
    width: 15rem;
    height: 2rem;
    border-radius: 5%;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
    color: var(--backgroung-green);
    font-weight: 700;
}

main {
    background-color: var(--backgroung-green);
    min-height: 100vh;
}

#container-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main h2 {
    color: var(--color-text-title);
    text-align: center;
    font-size: 3rem;
    font-weight:100;
    font-style: italic;
    
}

.display-chrono {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 5rem;
    border-radius: 0.2rem;
    background-color: var(--color-text-title);
}

main #button-start {
    display: block;
    margin: 0 auto;
    width: 8rem;
    height: 2rem;
    background-color: var(--background-yellow);
    border: 1px solid var(--background-yellow);
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
    color: var(--backgroung-green);
    font-weight: 700;
}

#display-text {
    color: var(--background-beige);
    font-size: 1rem;
    margin-top: 0.5rem;
}


#time{
    color: var(--background-yellow);
    font-size: 1.5rem;
    display: none;
    min-width: 5rem;
    text-align: center;
}

#display-cards {
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    /*height: 100vh;*/
    padding: 0rem 5rem; 
    margin: 0;
    gap: 1rem; 
}

#display-cards.enfant{
    max-width: 57rem;
    background-color: red;
    margin: 0 auto;
}

.card {
    width: 7rem;  
    height: 9rem; 
    object-fit: cover;  
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}



.card:hover {
    transform: scale(1.05);  
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);  
}

.score-presentation {
    background-color: var(--color-text-title);
    color: var(--background-beige);
    font-weight: 700;
    padding: 0.8rem;
    width: 12rem;
    height: 5rem;
    border-radius: 0.2rem;
}

.icon {
    font-size: 1rem;
}

#modal-content {
    background-color: var(--backgroung-green);
}

.modal-text {
    color: var(--background-beige);
    text-align: center;
}

.container-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.button-restart {
    display: block;
    margin: 0 auto;
    width: 8rem;
    height: 2rem;
    border-radius: 5px;
    background-color: var(--background-yellow);
    border: 1px solid var(--background-yellow);
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
    color: var(--backgroung-green);
    font-weight: 700;
    margin-top: 1rem;
    padding-top: 0.1rem;
}

.button-exit {
    display: block;
    margin: 0 auto;
    width: 8rem;
    height: 2rem;
    background-color: red;
    border: 1px solid red;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
    color: var(--background-white);
    font-weight: 700;
    margin-top: 1rem;

}



  